//mixins e vars
@import "mixins_vars/mixins-variables";

// import bootstrap source
// required
// Configuration

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// optionals
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/transitions";

@import "~bootstrap/scss/utilities";

// import font-awesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "partials/geral";

html,
body {
    height: 100%;
}

body {
    font-family: "Poppins", $presets-family;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 500;
    background: #F1F1F1;

    &.load {
        overflow: auto !important;
    }

}

#tudo {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#conteudo {
    flex: 1;
    @include flex-position();
    flex-direction: column;
}

#rodape {
    background-color: #EEE;
    text-align: center;

    p {
        margin: 0 0 .3rem;
        font-size: .85rem;
        font-weight: 300;
    }

}

.wrapper-img {
    margin: 2rem auto 0;
    text-align: center;

    .logo {
        width: 60px;
    }

    @include media-queries("(max-width: 414px)") {
        margin-top: 0;
    }
}



#form-login {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background: #FFF;
    border: 1px solid #DFDFDF;

    .form-group {

        .input-group {
            border: 1px solid #DDD;
            border-radius: .5rem;
            background: #FFF;
            transition: border-color .3s;

            .input-group-prepend {
                margin: 0;
                padding: 0 .8rem;
                color: #AAA;
                transition: color .3s;
            }

        }

        label {
            margin: 0 0 .3rem;
            font-size: .85rem;
            font-weight: 400;
        }

        .form-control {
            border: none;
            border-radius: .5rem;
            box-shadow: none;
            outline: none;
            background: #FFF;
            height: 55px;
            font-weight: 500;
            padding-left: .1rem;

            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px #FFF inset !important;

                &:hover,
                &:focus,
                &:active {
                    -webkit-box-shadow: 0 0 0 1000px #FFF inset !important;
                }

                -webkit-text-fill-color: #333 !important;
            }

            &::placeholder {
                font-weight: 400;
                font-size: .85rem;
                color: #999;
            }

        }

        .link-senha {
            display: block;
            text-align: right;
            font-size: .8rem;
            font-weight: 300;
            margin: .2rem 0 .3rem;
        }

        .btn {
            text-transform: uppercase;
            font-weight: 500;
            font-size: .95rem;
            letter-spacing: .04rem;
            margin-top: 1.5rem;
        }

        .error {
            margin-top: .3rem;
            font-size: .75rem;
            color: $danger;
        }

        &.has-error {
            .input-group {
                border-color: $danger;

                .input-group-prepend {
                    color: $danger;
                }
            }
        }

        &.focus {

            .input-group {
                border-color: $primary;

                .input-group-prepend {
                    color: $primary;
                }
            }

        }

    }

    .form-check-input {
        display: none;

        ~label {
            cursor: pointer;
            position: relative;
            padding-left: 1.7rem;
            margin: .7rem 0 0;
            font-weight: 500;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                display: inline-block;
                width: 1.3rem;
                height: 1.3rem;
                border-radius: .2rem;
                border: 2px solid #AAA;
                margin-right: .4rem;
                transform: translateY(-50%);
                text-align: center;
                font-size: .95rem;
                @include flex-position();
                transition: color .1s, background-color .1s, border-color .1s;
            }

        }

        &:checked {
            ~label {
                color: #28a745;

                &::before {
                    content: '✓';
                    color: #FFF;
                    background: #28a745;
                    border-color: #28a745;
                }
            }
        }

    }

    @include media-queries("(max-width: 414px)") {
        padding: 2rem 1.5rem;
    }

}