@charset"UTF-8";

.alert {
    font-size: .955rem;
}

.alert-success {
    color: #FFF;
    background-color: #3ea662;
    border-color: #3ea662;
    font-size: .955rem;
}

.alert-danger {
    color: #FFF;
    background-color: #f64846;
    border-color: #f64846;
}

.alert-success .alert-link {
    color: #FFF;
}

.form-group .form-control {
    box-shadow: none !important;
    outline: none !important;
}

button[name="btnConfirmar"] {
    padding: 9px 18px;
    font-size: 1.2rem;
}

.form-control:disabled, .form-control[readonly] {
    border: 1px solid #CCC;
}

.form-group-lg label {
    font-size: 1rem;
    color: #5F5F5F;
}

.form-control:focus {
    color: #5A5A5A;
    font-family: arial, sans-serif;
    background: rgba(138, 212, 238,.05);
}

.file-thumbnail-footer {
    display: none !important;
}

.krajee-default.file-preview-frame .kv-file-content {
    width: auto !important;
}

.krajee-default.file-preview-frame {
    box-shadow: none !important;
    border: none !important;
}

#container-errors {
    margin: 0 0 1.5rem 0;
}

.card-body {
	padding: 1.7rem 1.25rem;
}

.form-group.has-error label.error {
    color: #bc2026 !important;
    margin: 3px 0 0;
}

.form-group.has-error .form-control{
    border-color: #bc2026 !important;
}

.form-group.has-error .form-control:focus{
    background: rgba(188, 32, 38, .02) !important;
}

.file-default-preview.clickable {
    position: relative;
}

#erro-file-input:not(:empty) + .alert {
    display: none;
}

/*.kv-preview-thumb::after {
    content: "Alterar Foto";
    background: rgba(75, 134, 236,.92);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 0;
    color: #FFF;
}*/