@charset"UTF-8";

.file-preview-thumbnails {
    padding: 8px 0 !important;
}

.kv-error-close {
    color: #FFF !important;
    opacity: 1 !important;
}

.alert {
    font-size: .955rem;
}

.alert-success {
    color: #FFF;
    background-color: #3ea662;
    border-color: #3ea662;
    font-size: .955rem;
}

.alert-danger {
    color: #FFF;
    background-color: #f64846;
    border-color: #f64846;
}

.alert-success .alert-link, .alert-danger .alert-link {
    color: #FFF;
}

.form-group .form-control {
    box-shadow: none !important;
    outline: none !important;
}

button[name="btnConfirmar"] {
    padding: 9px 18px;
    font-size: 1.2rem;
}

.form-control:disabled, .form-control[readonly] {
    border: 1px solid #CCC;
}

.form-group-lg label {
    font-size: 1rem;
    color: #5F5F5F;
}

.form-control:focus {
    color: #5A5A5A;
    font-family: arial, sans-serif;
    background: rgba(138, 212, 238,.05);
}

.file-thumbnail-footer {
    display: none !important;
}

.krajee-default.file-preview-frame .kv-file-content {
    width: auto !important;
}

.krajee-default.file-preview-frame {
    box-shadow: none !important;
    border: none !important;
}

#container-errors {
    margin: 0 0 1.5rem 0;
}

.card-body {
	padding: 1.7rem 1.25rem;
}

.form-group.has-error label.error {
    color: #bc2026 !important;
    margin: 3px 0 0;
    font-size: .8rem;
}

.form-group.has-error .form-control{
    border-color: #bc2026 !important;
}

.form-group.has-error .input-group-text{
    border-color: #bc2026 !important;
}

.form-group.has-error .input-group-text{
    border-color: #bc2026 !important;
}

.form-group.has-error .input-group-text i{
    color: #bc2026 !important;
}

.form-group.has-error .input-group-prepend::after {
    background: #bc2026 !important;
}

.form-group.has-error .form-control:focus{
    background: rgba(188, 32, 38, .02) !important;
}

.file-default-preview.clickable {
    position: relative;
}

#erro-file-input:not(:empty) + .alert {
    display: none;
}

/*.input-group.focus .input-group-prepend::after {
    background: #8ad4ee;
}*/

.input-group.focus .input-group-text{
    border-color: #8ad4ee;
    background: rgba(138, 212, 238,.05) !important;
    border-left: none;
}

.input-group.focus .input-group-text i{
    color: #20a8d8;
}