@charset"UTF-8";

body {
    background: linear-gradient(#0BB0E3, #0863D1);
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #444 !important;
}

#container-login {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: .9rem;
    overflow: auto;
}

#wrapper-login {
    width: 100%;
    max-width: 650px;
    min-height: 450px;
}

#wrapper-login .card-body {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

#wrapper-login #retorno-erro:empty {
    padding: 0;
}

#wrapper-login .titulo {
    font-weight: 400;
    font-size: 1.8em;
    color: #555;
}

.form-group.has-error .input-group-text{
    border-color: #bc2026 !important;
}

.form-group.has-error .input-group-text{
    border-color: #bc2026 !important;
}

.form-group.has-error .input-group-text i{
    color: #bc2026 !important;
}

.form-group.has-error .input-group-prepend::after {
    background: #bc2026 !important;
}

.form-group.has-error .form-control{
    border-color: #bc2026 !important;
}

.form-group.has-error label.error {
    color: #bc2026 !important;
    margin: 3px 0 0;
}

.form-group.form-check.has-error > label {
    color: #bc2026 !important;
}

form input, form .btn {
    box-shadow: none !important;
    outline: none !important;
}

form input.form-control::placeholder{
    font-size: 1rem;
    color: #888;
    font-weight: lighter;
}

.form-group {
    margin: 20px 0;
}

.input-group-lg>.form-control {
    border-left: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
    border-color: #c8ced3;
}

.input-group-lg>.input-group-prepend>.input-group-text {
    padding: .5rem 1.1rem;
    border-color: #c8ced3;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-prepend>.input-group-text{
    height: calc(2.640625rem + 15px);
}

.input-group-text {
    background: none;
}

form button:focus {
    background-color: #1985ac;
    border-color: #187da0;
}

.input-group-prepend {
	position: relative
}

.input-group-prepend::after {
    content: "";
    display: flex;
    position: absolute;
    width: 1px;
    height: 35px;
    background: #c8ced3;
    right: 0;
    z-index: 99;
    align-self: center;
}

.input-group.focus .input-group-prepend::after {
    background: #8ad4ee;
}

.input-group.focus .input-group-text{
    border-color: #8ad4ee;
}

.input-group.focus .input-group-text i{
    color: #20a8d8;
}

.input-group-lg>.form-control:focus {
    border-color: #8ad4ee;
}

@media (max-width: 992px){

    #wrapper-login .titulo {
        font-size: 1.5rem;
    }

    #wrapper-login .card {
        border-radius: 0;
    }

    #container-login{
        position: relative;
    }
    
}