@charset"UTF-8";

body {
    font-family: 'Roboto', sans-serif;
}

#nav-opcoes > .nav-item > .nav-link i{
    display: inline-block;
    color: #73818f;
    float: left;
    text-align: center;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0 .9rem 0 0;
}

#nav-opcoes > .nav-item > .nav-link:hover i, .sidebar-minimized .sidebar .nav-item:hover > .nav-link i {
    color: #FFF !important;
    opacity: 1;
}

#nav-opcoes > .nav-item > .nav-link .nav-item .nav-link {
    padding-left: 30px !important;
}

.sidebar-minimized .sidebar .nav-link i {
    display: block;
    float: left;
    width: 50px;
    font-size: 18px;
}

.btn-acao > i {
    padding: .4rem .85rem;
    font-size: 1.15em;
}

table td, table th{
    font-size: .95rem;
    vertical-align: middle !important;
}

table th.min-180 {
    min-width: 180px;
    width: 200px;
}

table tr td:first-child, table tr th:first-child {
    padding-left: 20px;
}

table tr td:last-child, table tr th:last-child {
    padding-right: 20px;
}

.pagination .page-item.active .page-link {
    pointer-events: none;
}

body {
    background: #FFF;
}

.app-body {
    background-color: #e4e5e6;
}

.file-preview-thumbnails {
    padding: 8px 0 !important;
}

.kv-error-close {
    color: #FFF !important;
    opacity: 1 !important;
}

.alert {
    font-size: .955rem;
}

.alert-success {
    color: #FFF;
    background-color: #3ea662;
    border-color: #3ea662;
    font-size: .955rem;
}

.alert-danger {
    color: #FFF;
    background-color: #f64846;
    border-color: #f64846;
}

.alert-success .alert-link, .alert-danger .alert-link {
    color: #FFF;
}

.form-control, .input-group-text{
    border-color: #c8ced3;
}

.form-group .form-control {
    box-shadow: none !important;
    outline: none !important;
}

button[name="btnConfirmar"] {
    padding: 9px 18px;
    font-size: 1.2rem;
}

.form-control:disabled, .form-control[readonly] {
    border: 1px solid #D9D9D9
}

.form-group-lg label {
    font-size: 1rem;
    color: #6F6F6F;
}

.file-thumbnail-footer {
    display: none !important;
}

.krajee-default.file-preview-frame .kv-file-content {
    width: auto !important;
    height: auto !important;
}

.krajee-default.file-preview-frame {
    box-shadow: none !important;
    border: none !important;
}

.file-preview {
    border: none !important;
}

.file-preview {
    max-width: 400px;
    margin: 0 auto;
}

.file-preview-thumbnails {
    padding: 0px !important;
}

.krajee-default.file-preview-frame {
    width: 100%;
}

.kv-file-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-drop-zone .file-preview-thumbnails {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview-photo {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    background: #20a8d8;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 2px;
    position: relative;
    font-size: 1rem;
    font-weight: lighter;
}

#preview-photo i {
    font-size: 2.5rem;
}

#container-errors {
    margin: 0 0 1.5rem 0;
}

.card-body {
    padding: 1.7rem 1.25rem;
}

.form-group.has-error label.error {
    color: #bc2026 !important;
    margin: 3px 0 0;
    font-size: .8rem;
    display: block;
}

.form-group.has-error .form-control{
    border-color: #bc2026 !important;
}

.form-group.has-error .input-group-text{
    border-color: #bc2026 !important;
}

.form-group.has-error .input-group-text{
    border-color: #bc2026 !important;
}

.form-group.has-error .input-group-text i{
    color: #bc2026 !important;
}

.form-group.has-error .input-group-prepend::after {
    background: #bc2026 !important;
}

.form-group.has-error .form-control:focus{
    background: rgba(188, 32, 38, .02) !important;
}

.file-default-preview.clickable {
    position: relative;
}

#erro-file-input:not(:empty) + .alert {
    display: none;
}

.input-group.focus .input-group-text{
    border-color: #8ad4ee;
    background: rgba(138, 212, 238,.05) !important;
    border-left: none;
}

.input-group.focus .input-group-text i{
    color: #20a8d8;
}

.file-preview .fileinput-remove {
    font-size: 1.6rem;
}

:disabled {
    cursor: not-allowed;
}

/*
#container-file .file-preview .fileinput-remove {
    bottom: -12px;
    left: 50%;
    top: auto !important;
    right: auto !important;
    transform: translateX(-50%);
    margin-top: 30px;
    color: #fff !important;
    background-color: #f86c6b;
    border-color: #f86c6b;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .25rem;
    opacity: .8;
}

#container-file .file-preview .fileinput-remove:hover, #container-file .file-preview .fileinput-remove:active {
    background-color: #f63c3a !important;
    border-color: #f63c3a !important;
}*/

.sidebar .nav-dropdown .nav-dropdown-items .nav-item .nav-link, .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
    transition: padding-left .8s;
    transition-timing-function: ease-out;
}

.sidebar .nav-dropdown.open .nav-dropdown-items .nav-item .nav-link, .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
    font-size: .75rem;
    padding-left: 1.8rem;
}

select.form-control-lg {
    font-weight: lighter;
}

div#profile img {
    width: 100%;
    max-width: 90px;
    margin: 20px;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50em;
}

#modalFoto .modal-header {
    color: rgba(0,0,0,.6);
}

#modalFoto .modal-body {
    background: #000;
}

#modalFoto .modal-content {
    border: none !important;
    border-radius: 0;
}

#modalFoto #wrapper-img-crop {
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

#controle-acesso label {
    cursor: pointer;
}

#controle-acesso label.disabled {
    cursor: not-allowed;
}

.form-pesquisa .container-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: 30px;
}

.form-pesquisa .container-form select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

#tab-banners i {
    margin-bottom: 8px;
    font-size: 1.8rem;
}

#tab-banners a {
    text-transform: uppercase;
    background: #F8F8F8;
    padding: 10px 35px;
    color: #444;
    font-weight: 600;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    text-decoration: none;
}

#tab-banners a:hover {
    background: #EEE;
}

#tab-banners a.active {
    color: #FFF;
    background: #20a8d8;
}

#tab-content-banners .file-preview {
    max-width: 100%;
}

/**/
.inputGroup {
    background-color: #EEE;
    display: inline-block;
    margin: 10px 0;
    position: relative;
}
.inputGroup label {
    padding: 12px 50px 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    margin: 0;
}
.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #1985ac;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.inputGroup label:after {
    width: 1.55em;
    height: 1.55em;
    content: '';
    text-align: center;
    border: 2px solid #D1D7DC;
    background-color: #fff;
/*    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;*/
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputGroup input:checked ~ label {
    color: #fff;
}
.inputGroup input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.inputGroup input:checked ~ label:after {
    content: '✔';
    background-color: #FFF;
    border-color: #FFF;
    color: #1985ac;
}
.inputGroup input {
    width: 1.55em;
    height: 1.55em;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}
/**/


#formBanners .kv-file-content {
    position: relative
}

#formBanners .btn-crop-foto {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    background: rgba(0,0,0,.5);
    color: #FFF;
    font-size: 1.15rem;
}

#modalEditorFoto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999999;
    background: #222;
    display: none;
}

#modal-header {
    padding: 15px 20px;
    background: #555;
}

#modal-header h2 {
    color: #FFF;
    font-size: 1.2rem;
}

#modal-body {
    overflow: hidden;
    max-height: 600px;
}

#modal-footer {
    position: absolute;
    bottom: 0;
    padding: 4px;
    background: rgba(0,0,0,.8);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#modal-footer a {
    padding: 8px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#modal-footer a.active {
    background: #20a8d8;
    color: #FFF;
}