@charset"UTF-8";

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: #444 !important;
}

#container-login {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: .9rem;
    overflow: auto;
}

#wrapper-login {
    width: 100%;
    max-width: 650px;
    margin: 40px auto 0;
}

#wrapper-login .card-body {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}

#wrapper-login #retorno-erro:empty {
    padding: 0;
}

#wrapper-login .titulo {
    color: #5B5B5B;
    font-weight: 600;
}

.wrapper-float {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #D3D3D3;
    border-radius: 0.3rem;
    /*margin-bottom: 1rem;*/
}

.wrapper-float.focus {
    border-color: #44ACE1;
}

.wrapper-float.focus .prepend-group{
    color: #44ACE1;
}

.has-error .wrapper-float {
    border-color: #bc2026 !important;
}

.has-error .wrapper-float .form-float input:focus ~ label, .has-error .wrapper-float .form-float input:valid ~ label {
    color: #bc2026 !important;
}

.wrapper-float .prepend-group {
    padding: 1rem;
    color: #AAA;
}

.wrapper-float .form-float {
    position: relative;
}

.wrapper-float .form-float input{
    border: none;
    height: calc(2.640625rem + 2px);
    padding: .5rem 1rem;
    padding-left: 0;
    font-size: 1.09375rem;
    line-height: 1.5;
    flex: 1 1 auto;
    width: 100%;
    color: #202124;
    transition-timing-function: ease-in;
    transition: padding-bottom .4s;
    outline: none;
}

.wrapper-float .form-float label{
    position: absolute;
    left: 0;
    color: #777;
    top: 50%;
    transform: translateY(-50%);
    transition-timing-function: ease-in;
    transition: transform .4s, font-size .4s;
}

.wrapper-float .form-float input:focus, .wrapper-float .form-float input:valid{
    padding-bottom: 0;
    border-width: 3px;
}

.wrapper-float .form-float input:-webkit-autofill ~ label,
.wrapper-float .form-float input:-webkit-autofill:focus ~ label,
.wrapper-float .form-float input:-webkit-autofill:valid ~ label
{
    transform: translateY(-220%) !important;
    color: #44ACE1;
    font-size: .70rem;
    padding: 0 30px;
    left: -30px;
    background: #FFF;
}
.wrapper-float .form-float input:focus ~ label,
.wrapper-float .form-float input:valid ~ label
{
    transform: translateY(-220%) !important;
    color: #44ACE1;
    font-size: .70rem;
    padding: 0 30px;
    left: -30px;
    background: #FFF;
}

#wrapper-login button {
    font-weight: normal;
    font-size: 1.2rem;
    box-shadow: none;
}

.form-group.has-error label.error {
    color: #bc2026 !important;
    font-size: .7rem;
    margin-bottom: 3px;
}

.wrapper-check {
    position: relative;
    display: block;
    padding-left: 1.6rem;
}

.wrapper-check input[type="checkbox"]:not(:checked) ~ label::before, .wrapper-check input[type="checkbox"]:checked ~ label::before{
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    left: 0;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper-check input[type="checkbox"]:not(:checked) ~ label::before {
    border: 1px solid #AAA;
}

.wrapper-check input[type="checkbox"]:checked ~ label::before {
    content: '✓';
    background: #44ACE1;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-check input {
    display: none;
}

.wrapper-check label{
    color: #666;
    cursor: pointer;
}

@media (max-width: 992px){

    #wrapper-login .titulo {
        font-size: 1.5rem;
    }

    #wrapper-login .card {
        border-radius: 0;
    }

    #container-login{
        position: relative;
    }
    
}